* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      
}

/* -- Importar iconos de Bootstrap --*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");


/* -- Configuración del fondo, título y caja de selección --*/
body {
    font-family: 'Courier New';
    background-color: #F3E5F5;
    }

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    }

.select-title {
    line-height: 3em;
    font-weight: 700;
    color: hsl(328, 81%, 29%);
}

input[type=file] {
    background-color: hsl(340, 80%, 94%);
    border-radius: 3px;

}

input[name=file] {
    border: 1px solid hsl(328, 81%, 29%);
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.thumb {
    height: 50%;
    margin-top: 2em;
    visibility: hidden;
}

.controls {
    margin-top: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    cursor: pointer;
    margin-right: 1.5em;
    padding: 0.7em 1.5em;
    border: none;
    background: hsl(340, 80%, 94%);
    color: hsl(328, 81%, 29%);
}

.buttons:hover {
    background: hsl(340, 80%, 94%);
    color: rgb(252, 228, 236);
    transition: all .3s ease-in;
}

.button:focus {
    background: hsl(340, 80%, 94%);
    color: rgb(252, 228, 236);
    transition: all .3s ease-in;
}

.bi {
    font-size: 2em;
}

/* -- Configuración del mensaje de carga de video --*/
.loading-message {
    font-size: 2em;
    font-weight: 700;
    color: hsl(81, 33%, 81%);
    border: 2px solid hsl(270, 71%, 35%);
    padding: 2em;
}
